<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
      <legend>填写用户信息</legend>

  <div class="field">
    <%= f.label :name, '用户名' %><br>
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :openpassword, '密码' %><br>
    <%= f.password_field :openpassword, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :openpassword_confirmation, '确认密码' %><br>
    <%= f.password_field :openpassword_confirmation, :size => 40 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

    </fieldset>
<% end %>
