<h1>Listing croplands</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Land area</th>
      <th>Area unit</th>
      <th>Land production</th>
      <th>Land output</th>
      <th>Output unit</th>
      <th>Output cycle</th>
      <th>Latest seeding date</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @croplands.each do |cropland| %>
      <tr>
        <td><%= cropland.user_id %></td>
        <td><%= cropland.land_area %></td>
        <td><%= cropland.area_unit %></td>
        <td><%= cropland.land_production %></td>
        <td><%= cropland.land_output %></td>
        <td><%= cropland.output_unit %></td>
        <td><%= cropland.output_cycle %></td>
        <td><%= cropland.latest_seeding_date %></td>
        <td><%= cropland.product_id %></td>
        <td><%= link_to 'Show', cropland %></td>
        <td><%= link_to 'Edit', edit_cropland_path(cropland) %></td>
        <td><%= link_to 'Destroy', cropland, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cropland', new_cropland_path %>
