<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label LocalizeHelper::NAME_WORD %>
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label LocalizeHelper::DELIVERY_ADDRESS_WORD %>
    <%= f.text_area :delivery_address, :rows => 3, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label LocalizeHelper::DELIVERY_PHONE_WORD %>
    <%= f.text_field :delivery_phone, :size => 40 %>
  </div>
    <div class="field">
      <%= f.label LocalizeHelper::DELIVERY_TIME_WORD %>
      <%= f.date_select :delivery_time, :start_year => Date.tomorrow.year, :end_year => Date.tomorrow.year+1,
                        :use_month_numbers => true %>
    </div>
  <div class="field">
    <%= f.label '支付方式' %>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, :prompt => '选择支付方式' %>
  </div>
  <div class="actions">
    <%= f.submit '下单'%>
  </div>
<% end %>
