<h1>订单信息管理</h1>

<table>
  <thead>
    <tr>
      <th>姓名</th>
      <th>收货地址</th>
      <th>电话</th>
      <th>支付方式</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.delivery_address %></td>
        <td><%= order.delivery_phone %></td>
        <td><%= order.pay_type %></td>
        <td><%= link_to '显示', order %></td>
        <td><%= link_to '编辑', edit_order_path(order) %></td>
        <td><%= link_to '删除', order, method: :delete, data: { confirm: '确定删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '创建新订单', new_order_path %>
<p><%= will_paginate @orders, :previous_label => t("上一页"), :next_label => t("下一页") %></p>
