<h1>订单信息管理</h1>

<table>
  <thead>
    <tr>
      <th><%="#{LocalizeHelper::NAME_WORD}"%></th>
      <th><%="#{LocalizeHelper::DELIVERY_ADDRESS_WORD}"%></th>
      <th><%="#{LocalizeHelper::PHONE_NUMBER_WORD}"%></th>
      <th><%="#{LocalizeHelper::PAY_TYPE_WORD}"%></th>
      <th><%="#{LocalizeHelper::ALIPAY_STATE_WORD}"%></th>
      <th><%="#{LocalizeHelper::ALIPAY_TRADE_NO_WORD}"%></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.delivery_address %></td>
        <td><%= order.delivery_phone %></td>
        <td><%= order.pay_type %></td>
        <td><%= order.state %></td>
        <td><%= order.trade_no %></td>
        <td><%= link_to "#{LocalizeHelper::SHOW_WORD}", order %></td>
        <td><%= link_to "#{LocalizeHelper::DELETE_WORD}", order, method: :delete, data: { confirm: '确定删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '创建新订单', new_order_path %>
<p><%= will_paginate @orders, :previous_label => t("上一页"), :next_label => t("下一页") %></p>
