<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>收货地址:</strong>
  <%= @order.delivery_address %>
</p>

<p>
  <strong>电话:</strong>
  <%= @order.delivery_phone %>
</p>

<p>
  <strong>支付方式:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to 'Back', orders_path %>
