<p id="notice"><%= notice %></p>

<p>
  <strong><%="#{LocalizeHelper::NAME_WORD}"%>:</strong>
  <%= @order.name %>
</p>

<p>
  <strong><%="#{LocalizeHelper::DELIVERY_ADDRESS_WORD}"%>:</strong>
  <%= @order.delivery_address %>
</p>

<p>
  <strong><%="#{LocalizeHelper::PHONE_NUMBER_WORD}"%>:</strong>
  <%= @order.delivery_phone %>
</p>

<p>
  <strong><%="#{LocalizeHelper::PAY_TYPE_WORD}"%>:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong><%="#{LocalizeHelper::ALIPAY_STATE_WORD}"%>:</strong>
  <%= @order.state %>
</p>

<p>
  <strong><%="#{LocalizeHelper::ALIPAY_TRADE_NO_WORD}"%>:</strong>
  <%= @order.trade_no %>
</p>

<%= link_to 'Back', orders_path %>
