<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '产品' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label '详细信息' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label '图片' %><br>
    <% if @product.picture
         @visable = 'display:inline'
       else
         @visable = 'display:none'
       end
    %>

      <%= image_tag("uploads/#{@product.picture}", :id => 'uploaded_image', :style => @visable) %><br>
      <%= f.file_field :picture, :id => 'upload_picture', :onchange => 'readURL(this)' %>
  </div>

  <div class="field">
    <%= f.label '价格' %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
