<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<h1><%= LocalizeHelper::COUNTER_WORD %></h1>
<div id="store_filter">
  <ul>
    <% @product_filters.each do |product_type| %>
    <li> <%= link_to product_type, store_path(:product_filter => product_type), :class => 'filter_button' %></li>
    <%end%>
  </ul>

</div>
<div id="store_list">
    <% @products.each do |product| %>
        <div class="entry">
          <%= image_tag("uploads/#{product.image_url}")%>
          <h3><%= product.title %></h3>
          <%= "#{LocalizeHelper::ORIGIN_WORD}: #{product.origin}" %>
          <%= "#{LocalizeHelper::INVENTORY_WORD}: #{product.inventory}" %>
          <br/>
          <%= sanitize(product.description) %>
          <div class="price_line">
            <span class="price"><%= "#{number_to_rmb(product.price)}/#{product.unit}" %></span>
            <%= button_to '加入购物车', line_items_path(:product_id => product, :number_change => 1), :remote => true%>
          </div>
        </div>
    <%end%>
</div>
